.App {
    min-height: 100vh;
    background-image: linear-gradient(
        to right,
        #b8cbb8 0%,
        #b8cbb8 0%,
        #b465da 0%,
        #cf6cc9 33%,
        #ee609c 66%,
        #ee609c 100%
    );
}

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50%;
    border: none;
    padding: 10px;
}

.search-button {
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    border: none;
    padding: 10px 20px;
    color: white;
}

.recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 5px;
}

.recipe-title {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px #b465da;
    border-bottom: ridge rgba(255, 255, 255, 0.5);
}

.recipe > img {
    margin: auto;
    border-radius: 10px;
    max-width: 100%;
}
